<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">/h1>
            
        </header>
        
        <footer th:fragment="footer">
            <div>
                <br/><!-- comment -->
                <a th:href="@{/(lang=es)}" th:text="ES"/> |
                    <a th:href="@{/(lang=en)}" th:text="EN"/>
            </div>
            <p> [[#{plantilla.pie_pagina}]]  <a href="#" target="_blank"/> Hatsembiller Octavio Daniel</a></p>
            <form method="post" th:action="@{/logout}">
                <a href="#" onclick="this.parentNode.submit();">Logout</a>
            </form>
        </footer>
    </body>
</html>
