<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{persona.crear}]]</a>
        <br/>
        <div th:if="${personas != null and !personas.empty}">
            <table>
                <thead>
                    <th>[[#{persona.nombre}]]</th>
                    <th>[[#{persona.apellido}]]</th>
                    <th>[[#{persona.email}]]</th>
                    <th>[[#{persona.telefono}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                </thead>
                <tbody>

                    <tr th:each="persona : ${personas}">
                        <td th:text="${persona.nombre}"></td>
                        <td th:text="${persona.apellido}"></td>
                        <td th:text="${persona.email}"></td>
                        <td th:text="${persona.telefono}"></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/editar/} + ${persona.IdPersona}" th:text="#{accion.editar}"/></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/eliminar(IdPersona = ${persona.IdPersona})}" th:text="#{accion.eliminar}"/></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            [[#{persona.lista_vacia}]]
        </div>
        
        <header th:replace="layout/plantilla :: footer"/>
    </body>
</html>
